html {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
}

main {
  padding: 2px 5px;
}

img {
  border-radius: 50%;
  margin-right: 10px;
  height: 30px;
}

#article-1 {
  background-color: hsl(263, 55%, 52%);
  color: white;
}

#article-2 {
  background-color: hsl(217, 19%, 35%);
  color: white;
}

#article-3 {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
  box-shadow: 10px 10px 40px 0 hsl(0, 0%, 85%);
}

#article-4 {
  background-color: hsl(219, 29%, 14%);
  color: white;
  box-shadow: 10px 10px 40px 0 hsl(0, 0%, 85%);
}

#article-5 {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
  box-shadow: 10px 10px 40px 0 hsl(0, 0%, 85%);
}

.article-item {
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
}

.person {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.name {
  font-weight: 500;
}

.status {
  opacity: 0.5;
}

.aknowledge {
  font-size: 1.3em;
}

.review {
  opacity: 0.5;
}


footer.attribution {
  font-size: 11px;
  text-align: center;
}

footer.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width:  576px) {
  main {
    display: flex;
  }

  #article-5  {
    flex-basis: 45%;
  }
  #left-container {
    display: flex;
    flex-direction: column;
  }
  #left-container > #top {
    display: flex;
  }

  #left-container > #bottom {
    display: flex;
  }

  #article-1 {
    flex-basis: 65%;
  }

  #article-2 {
    flex-basis: 35%;
  }

  #article-3 {
    flex-basis: 35%;
  }

  #article-4 {
    flex-basis: 65%;
  }

}